<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.onionpie.pandorabox"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".PandoraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.Activity.WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UI.Activity.HomeActivity"
            android:label="@string/password_list"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".UI.Activity.FirstActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activity.PasswordDetailActivity">
        </activity>

        <service
            android:name=".UI.ValidateScanCodeService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".UI.Activity.RuleSettingActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".UI.Activity.PasswordDetailActivity" />
        </activity>
    </application>

</manifest>